
<header id="site-nav" class="site-header navbar color-bg" role="banner">
	<div class="container"><div class="row">

		<p class="site-title"><a href="{{ site.url }}/" rel="home">LogoHere</a></p>

		<ul>
			{% for item in site.menus.header %}
			<li class="menu-item-{{ loop.index }}">
				<a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
			</li>
			{% endfor %}
		</ul>




	</div></div><!-- .row .container -->
</header><!-- #masthead -->
