
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

	<meta name="Keywords" content="{{ page.keywords }}"/>
	<meta name="referrer" content="unsafe-url">
	<link rel="icon" href="{{ site.url }}/assets/img/favicon.png" />
	
	<link rel='stylesheet'  href='https://fonts.googleapis.com/css?family=Oxygen' type='text/css' media='all' />

	<link href="{{ site.url }}/assets/css/styles.css" rel="stylesheet" type="text/css" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	{% seo %}

</head>



<body>
