---
permalink: "/permalink/"
title: test playertest
description: easy overrides
categories: basketball

---
<h2>permalink</h2>

<p>An example of permalinks in use </p>

<p>Despite being in sport baseball, we can replace the url to be whatever we need in edge cases.</p>